@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: rgb(233, 248, 255);
}
.my-paragraph {
    font-size: 140px;
}
img {
    width: 50%;
    height: 50%;
    object-fit: cover ;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: rgb(0, 0, 0);
  }
section:nth-child(2){
  color: rgb(255, 255, 255);
  background-image: url(images/граф.jpg);
  width: 2560px;
  height: 1440px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
} 
section:nth-child(3){
  color: #ffffff;
  background: #80504c;
}
section:nth-child(4){
  color: #fdfdfd;
  background-image: url(images/персонаж\ эскиз.jpg);
  width: 2560px;
  height: 1440px;
}
section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 50px;
  text-align: center;
  background: #353030;
}
section .text-container .text-box h3{
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}